*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body, html {
margin: 0;
padding: 0;
}

.container {
width:750px;
margin:0 auto;
}


.header {
  background-color: #DDDDDD;
  /*width: 100%*/
  margin: 0;
}

h1 {
  margin: 0;
}

.nav {
  background-color: #CC9999;
  overflow: auto;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.nav li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  padding: 0;

}


.column1 {
  width: 500px;
  background-color: #99CC99;
  float: left;
  height: 500px;
  padding: 10px;
}

.column2 {
  width: 250px;
  background-color: #9999CC;
  float: right;
  height: 500px;
  padding: 10px;
}

.footer {
  background-color: #CCCC99;
  clear: both;
}
